@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  display: flex;

  flex-direction: column;
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
main {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px;
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-position: center left;
}
header {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 100%;
}

.regist {
  display: flex;
  align-items: center;
  padding-right: 2em;
  gap: 2em;
}
.regist a {
  text-decoration: none;
  border: 1px black solid;
  border-radius: 10px;
  padding: 0.5em 1em 0.5em 1em;
}
li {
  list-style: none;
  cursor: pointer;
}
.contenedor {
  display: flex;
}
.imagen {
  width: 50%;
  background-image: url("/images/image-hero-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.contenedor {
  width: 80%;
}
.texto {
  width: 50%;
  padding-right: 5.5em;
  padding-top: 3em;
}
.texto a {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  background-color: black;
  padding: 1em 2em 1em 2em;
  border-radius: 10px;
}
div.program {
  margin-top: 3em;
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
}

.texto p {
  margin-bottom: 4em;
  line-height: 1.5em;
}
h1 {
  font-weight: 700;
  font-size: 3.5em;
}
.attribution {
  margin-top: 1em;
}
.menu_container {
  display: flex;
  align-items: center;
  margin-left: 2em;
  gap: 2em;
}
nav.menus {
  display: flex;
  width: calc(100% - 100px);
  flex-direction: row;
  justify-content: space-between;
}
.menu_links {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
}
.menu_item {
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(0deg);
}
.menu_item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --transform: rotate(180deg);
}
.menu_arrow {
  transform: var(--transform);
  transition: transform 0.5s;
  margin-left: 5px;
}
.menu_nesting {
  clip-path: var(--clip);
}
.contMenuNest {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
  clip-path: var(--clip);
  background-color: white;
  transition: clip-path 0.3s;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
#Company {
  position: relative;
  left: -18%;
}
#Careers {
  position: relative;
  left: -27%;
}
#About {
  position: relative;
  left: -30%;
}
.menu_link {
  align-items: center;
  text-decoration: none;
  display: flex;
  height: 100%;
  color: black;
}
.imgSub {
  margin-right: 10px;
}
.menu_hamburger {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}
.menu_img {
  display: block;
  width: 36px;
}

@media (max-width: 800px) {
  .menu_hamburger {
    position: fixed;
    display: flex;
    top: 0px;
    right: 100px;
    height: 25px;
  }
  .menus,
  .menu_container {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 70px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: white;
    gap: 2em;
    display: grid;
    grid-auto-rows: max-content;
  }
  .menu_link {
    height: auto;
  }
  .menu_links {
    height: auto;
  }
  #Company,
  #Careers,
  #About {
    position: relative;
    left: auto;
  }
  .menu_nesting,
  .contMenuNest {
    display: grid;
    position: unset;
    width: 100%;
  }
}
